@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@100;400&display=swap');

#header {
    color: grey;
}

.playerpopup {
    background-color: #181923;
    color: darkgrey;
    float: right;

}

body {
    background-color : rgb(14, 17, 23);
    color : lightgrey
}


/* Table */

th {
    padding: 4px 5px;
    border: 1px solid grey;

}

tr {
    padding: 1px 0px;
    border: 1px solid grey;

}

#realtable {
    border-radius: 12px;
    background-color : grey;
    border-collapse : collapse;
    border-color : grey;
    border: 2px solid grey;
    border-spacing: 1px;
    overflow: hidden; /* This clips the sharp cell corners */
    font-family : "Source Sans 3";
    font-weight : 400;
    font-style : normal;
    font-size: 0.875rem;
    line-height: 1.6; 
    text-size-adjust: 100%;
    width: 900px;
    -webkit-font-smoothing: auto;
}

.tableheader {
    background-color:#181923;
    color:darkgrey;
    font-weight:500;
    text-align:left;
}

/* 1. Top-Left Corner */
thead tr:first-child > :first-child {
  border-top-left-radius: 12px;
}

/* 2. Top-Right Corner */
thead tr:first-child > :last-child{
  border-top-right-radius: 12px;
}


/* 3. Bottom-Left Corner */
tbody tr:last-child > :first-child {
  border-bottom-left-radius: 12px;
}

/* 4. Bottom-Right Corner */
tbody tr:last-child > :last-child{
  border-bottom-right-radius: 12px;
}

.playerheader {
    background-color:rgb(14,17,23);
    color:darkgrey;
    font-weight:400;
    text-align: left; 
    width: 220px;
}

.mockheader {
    background-color:rgb(14,17,23);
    color:darkgrey;
    font-weight:400;
    text-align: middle; 
    width: 220px;
}

.expandedview {
    display : none;
}

.dummyrow {
    border : 0px;
    background-color: black;
    color: black;
    line-height: 1.6; 

}

.playerheaderdiv {
    display: flex; 
}


.overallhscore {
    background-color:#2a2a33;
    color:white;
    font-weight:400;
    text-align:right;
    padding:5px
}

.blankoverallhscore {
    background-color:#2a2a33;
    color:white;
    font-weight:400;
    text-align:right;
    padding:5px
}


.overallhscore:after{
    content : '%';
}

.categoricalhscore {
    font-weight:500;
    text-align:right
    ;padding:5px
}
.categoricalhscore:after{
    content : '%';
}

