@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@100;400&display=swap');

#header {
    color: blue;
}

.players {
    color: green;
}

#realtable {
    border-spacing: 1px;
    border-radius: 12px;
    background-color : grey;
    border-color : grey;
    border: 1px solid grey;
    overflow: hidden; /* This clips the sharp cell corners */
    font-family : "Source Sans 3";
    font-weight : 400;
    font-style : normal;
    font-size: 0.875rem;
    line-height: 1.6; 
    text-size-adjust: 100%;
    -webkit-font-smoothing: auto;
}

th {
    padding: 4px 5px;
}

tr {
    padding: 1px 0px;
}

body {
    background-color : rgb(14, 17, 23);
    color : lightgrey
}

/* 1. Top-Left Corner */
thead tr:first-child > :first-child {
  border-top-left-radius: 12px;
}

/* 2. Top-Right Corner */
thead tr:first-child > :last-child{
  border-top-right-radius: 12px;
}


/* 3. Bottom-Left Corner */
tbody tr:last-child > :first-child {
  border-bottom-left-radius: 12px;
}

/* 4. Bottom-Right Corner */
tbody tr:last-child > :last-child{
  border-bottom-right-radius: 12px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px 0px solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgb(14, 17, 23); 
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}